@font-face {
    font-family: poppins-regular;
    src: url('../font/Poppins-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: whitesmoke;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

h1 {
    font-family: poppins-regular;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    color: black;
}

.container {
    width: 500px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.computer-area {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    background-color: lavender ;
    /* background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 100%); */
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
}

.player-area {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    background-color: pink;
    /* background: silver; */
    position: relative;
    border-radius: 0 0 40px 40px;
}

.info {
    width: 150px;
    height: 60px;
    border: 5px solid grey;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 50%;
    margin-top: -30px;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    line-height: 60px;
    color: rgb(255, 58, 117);
    font-family: poppins-regular;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}


ul {
    padding-top: 80px;
    padding-left: 25px;
}

li {
    display: inline-block;
    margin: 0 18px;
}

img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.rock, .paper, .scissor {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissor:hover, .active {
    box-shadow: 0 0 10px 5px whitesmoke;
}

.rock:active, .paper:active, .scissor:active {
    top: 2px;
}
